<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=aspnet-Touristix-20140905130028;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
    <add name="DestinationDBContext"
         connectionString="Data Source=(LocalDB)\v11.0;MultipleActiveResultSets=true;Initial Catalog=Destination;AttachDbFilename=Z:\a14-touristix\Touristix\App_Data\Destination.mdf;Integrated Security=True"
         providerName="System.Data.SqlClient"
    />
    <add name="ContactDBContext"
         connectionString="Data Source=(LocalDB)\v11.0;Initial Catalog=Contacts;AttachDbFilename=Z:\a14-touristix\Touristix\App_Data\Contacts.mdf;Integrated Security=True"
         providerName="System.Data.SqlClient"
    />
  </connectionStrings>
</configuration>

