.PopUp {
    width: 500px;
    height: 200px;
    visibility: hidden;
    background-color: white;
}
#Contenantprogressbar {
    position: absolute;
    bottom: 20px;
    width: 100%;
}
#BoutonVoirImage{
    position: absolute;
    bottom: 0px;
}
#BoutonFermer{
    position: absolute;
    bottom: 0px;
    right: 0px;
}
#LabelNomImage{
    position: absolute;
    top: 5px;
    left: 5px;
}
#Aperçu{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 180px;
    height: 120px;
    border: 1px;
    border-style: solid;
}
