@{
    ViewBag.Title = "Index";
}
<p>
    Choisir image: <input type='file' id='Fichier' accept="image/*"> <input type='button' id='Envoyer' value='Envoyer'>
</p>
<div class="progress">
  <div class="progress bar" role="progressbar" style="width: 10%;" id="Barre de progression">
    0%
  </div>
</div>

<script>
    var _submit = document.getElementById('Envoyer'),
    _file = document.getElementById('Fichier'),
    _progress = document.getElementById('Barre de progression');

    var upload = function () {

        if (_file.files.length === 0) {
            return;
        }

        var data = new FormData();
        data.append('SelectedFile', _file.files[0]);
        var xmlhttp;
        if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
            xmlhttp = new XMLHttpRequest();
        }
        else {// code for IE6, IE5
            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4) {
                try {
                    var resp = JSON.parse(xmlhttp.response);
                } catch (e) {
                    var resp = {
                        status: 'error',
                        data: 'Une erreur est survenue: [' + xmlhttp.responseText + ']'
                    };
                }
                console.log(resp.status + ': ' + resp.data);
            }
        };

        xmlhttp.upload.addEventListener('progress', function (e) {
            var ProgressValue = Math.ceil(e.loaded / e.total) * 100;
            if (ProgressValue > 10) {
                _progress.style.width = ProgressValue + '%';
                _progress.innerHTML = ProgressValue + '%';
            } 
        }, false);

        var url = '@Url.Action("ReceptionImage")';
        xmlhttp.open('POST', url);
        xmlhttp.send(data);
    }

    _submit.addEventListener('click', upload);
</script>
